{% extends "profile_base2.html" %}

{% load bootstrap3 %}



{% block content_side_nav %}

<div class="col-md-3 left_col">
	<div class="left_col scroll-view">
		<div class="navbar nav_title" style="border: 0;">
		</div>

		<div class="profile clearfix">
			<div class="profile clearfix ">
						<div class="profile_pic">
							<img src="{{ about_us.Upload_Profile_Pic.url }}" alt="" class="img-responsive img-circle margin" >
						</div>
			</div>
			<div class="profile_info">
				<strong>
			
				<h2>{{ about_us.username.get_full_name  }}</h2>
			</strong>
			</div>
		</div>
<br/>


		<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
			<div class="menu_section">
				<h3>General</h3>
				<ul class="nav side-menu">
					<li><a><i class="fa fa-home"></i> Home </a>

					</li>
					<li><a><i class="fa fa-edit"></i> Departments <span class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a href="{% url 'userprofile:Departmentwise_list' 'Biosciences_and_Bioengineering' %}">Biosciences and Bioengineering</a></li>
							<li><a href="{% url 'userprofile:Departmentwise_list' 'Chemical_Engineering' %}">Chemical Engineering</a></li>
							<li><a href="{% url 'userprofile:Departmentwise_list' 'Chemistry' %}">Chemistry</a></li>
							<li><a href="{% url 'userprofile:Departmentwise_list' 'Computer_Science_and_Engineering' %}">Computer Science and Engineering</a></li>
							<li><a href="{% url 'userprofile:Departmentwise_list' 'Civil_Engineering' %}">Civil Engineering</a></li>
							<li><a href="{% url 'userprofile:Departmentwise_list' 'Design' %}">Design</a></li>
							<li><a href="{% url 'userprofile:Departmentwise_list' 'Humanity_and_Social_Sciences' %}">Humanity and Social Sciences</a></li>
							<li><a href="{% url 'userprofile:Departmentwise_list' 'Electronics_and_Electrical_Engineering' %}">Electronics and Electrical Engineering</a></li>
							<li><a href="{% url 'userprofile:Departmentwise_list' 'Mathematics' %}">Mathematics</a></li>
							<li><a href="{% url 'userprofile:Departmentwise_list' 'Mechanical_Engineering' %}">Mechanical Engineering</a></li>
							<li><a href="{% url 'userprofile:Departmentwise_list' 'Physics' %}">Physics</a></li>
						</ul>
					</li>
					<li><a href="{% url 'userprofile:profile_about_us_logout_user' username_name %}"><i class="fa fa-desktop"></i> About </a>
					</li>

					<li><a href="{% url 'userprofile:profile_teaching_logout_user' username_name %}"><i class="fa fa-table"></i> Teaching </a>
					</li>

					<li><a href="{% url 'userprofile:profile_students_logout_user' username_name %}"><i class="fa fa-bar-chart-o"></i> Students </a>
					</li>

					<li><a href="{% url 'userprofile:profile_projects_logout_user' username_name %}"><i class="fa fa-bar-chart-o"></i> Projects </a>
					</li>

					<li><a href="{% url 'userprofile:profile_publications_logout_user' username_name %}"><i class="fa fa-clone"></i> Publications </a>
					</li>

					<li><a href="{% url 'userprofile:profile_recognitions_logout_user' username_name %}"><i class="fa fa-clone"></i> Recognitions</a>
					</li>

					<li><a><i class="fa fa-clone"></i> Personal Page </a>
					</li>
				</ul>
			</div>



		</div>
		<!-- /sidebar menu -->

		<!-- /menu footer buttons -->
		<div class="sidebar-footer hidden-small">
			<a data-toggle="tooltip" data-placement="top" title="Settings">
				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
			</a>
			<a data-toggle="tooltip" data-placement="top" title="FullScreen">
				<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
			</a>
			<a data-toggle="tooltip" data-placement="top" title="Lock">
				<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
			</a>
			<a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
				<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
			</a>
		</div>
		<!-- /menu footer buttons -->
	</div>
</div>

{% endblock %}

{% block content_top_nav %}
{% if user.is_authenticated %}
<div class="top_nav">
	<div class="nav_menu">
		<nav>
			<div class="nav toggle">
				<a id="menu_toggle"><i class="fa fa-bars"></i></a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li class="">
					<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<img src="images/img.jpg" alt="">John Doe
						<span class=" fa fa-angle-down"></span>
					</a>
					<ul class="dropdown-menu dropdown-usermenu pull-right">
						<li><a href="javascript:;"> Profile</a></li>
						<li>
							<a href="javascript:;">
								<span class="badge bg-red pull-right">50%</span>
								<span>Settings</span>
							</a>
						</li>
						<li><a href="javascript:;">Help</a></li>
						<li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
					</ul>
				</li>

				<li role="presentation" class="dropdown">
					<a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
						<i class="fa fa-envelope-o"></i>
						<span class="badge bg-green">6</span>
					</a>
					<ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
						<li>
							<a>
								<span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
								<span>
									<span>John Smith</span>
									<span class="time">3 mins ago</span>
								</span>
								<span class="message">
									Film festivals used to be do-or-die moments for movie makers. They were where...
								</span>
							</a>
						</li>
						<li>
							<a>
								<span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
								<span>
									<span>John Smith</span>
									<span class="time">3 mins ago</span>
								</span>
								<span class="message">
									Film festivals used to be do-or-die moments for movie makers. They were where...
								</span>
							</a>
						</li>
						<li>
							<a>
								<span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
								<span>
									<span>John Smith</span>
									<span class="time">3 mins ago</span>
								</span>
								<span class="message">
									Film festivals used to be do-or-die moments for movie makers. They were where...
								</span>
							</a>
						</li>
						<li>
							<a>
								<span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
								<span>
									<span>John Smith</span>
									<span class="time">3 mins ago</span>
								</span>
								<span class="message">
									Film festivals used to be do-or-die moments for movie makers. They were where...
								</span>
							</a>
						</li>
						<li>
							<div class="text-center">
								<a>
									<strong>See All Alerts</strong>
									<i class="fa fa-angle-right"></i>
								</a>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</div>
{% endif %}
{% endblock %}




{% block content %}
<style media="screen">
#act{
  float:right;
  align:right;
}

</style>


{% if mtech_cont.count != 0 %}

 <table class="table table-striped">
   <h3>M.Tech. Students Ongoing</h3>
   <thead>
     <tr>
       <th scope="col">Student Name</th>


     </tr>
   </thead>
   <tbody>
     {% for std in Students_required_list %}
     <tr>
           {% if std.Student_category == 0 %}
             <td><a>Scholar Name : {{ std.Student_name }}<br>
             </a>

         </td>



           {% endif %}
      </tr>
       {% endfor %}


   </tbody>
 </table>


<hr>
{% endif %}

{% if mtech_ongo.count != 0 %}


<table class="table table-striped">
<h3>M.Tech. Students Completed</h3>
  <thead>
    <tr>
      <th scope="col">Student Name</th>
      <th scope="col">Thesis Title</th>
      <th scope="col">Supervisors</th>

    </tr>
  </thead>
  <tbody>
    {% for std in Students_required_list %}
    <tr>
          {% if std.Student_category == 1 %}
            <td><a>Scholar Name : {{ std.Student_name }}<br>
            </a>

        </td>
        <td>
             {{ std.Thesis_title }}
        </td>

        <td>
            {{ std.Supervisors }}
        </td>

          {% endif %}
     </tr>
      {% endfor %}


  </tbody>
</table>


<hr>
{% endif %}


{% if phd_cont.count != 0 %}


<table class="table table-striped">
<h3>PH.D. Students Ongoing</h3>
  <thead>
    <tr>
      <th scope="col">Student Name</th>

    </tr>
  </thead>
  <tbody>
    {% for std in Students_required_list %}
    <tr>
          {% if std.Student_category == 2 %}
            <td><a >Scholar Name : {{ std.Student_name }}<br>
            </a>

        </td>
        <td></td><td></td>

          {% endif %}
     </tr>
      {% endfor %}


  </tbody>
</table>

<hr>
{% endif %}

{% if phd_onog.count != 0 %}

<table class="table table-striped">
<h3>PH.D. Students Completed</h3>
  <thead>
    <tr>
      <th scope="col">Student Name</th>

				 <th scope="col">Thesis Title</th>


      <th scope="col">Supervisors</th>

    </tr>
  </thead>
  <tbody>
    {% for std in Students_required_list %}
    <tr>
          {% if std.Student_category == 3 %}
            <td><a>Scholar Name : {{ std.Student_name }}<br>
            </a>

        </td>


						  <td >
             {{ std.Thesis_title }}
					 </td>


        <td>
            {{ std.Supervisors }}
        </td>

          {% endif %}
     </tr>
      {% endfor %}


  </tbody>
</table>


<hr>
{% endif %}

{% endblock %}
