{% extends "profile_base2.html" %}

{% block content_side_nav %}

<div class="col-md-3 left_col">
	<div class="left_col scroll-view">
		<div class="navbar nav_title" style="border: 0;">
		</div>

		<div class="profile clearfix">
			<div class="profile clearfix ">
						<div class="profile_pic">
							<img src="{{ about_us.Upload_Profile_Pic.url }}" alt="" class="img-responsive img-circle margin" >
						</div>
			</div>
			<div class="profile_info">
				<strong>
			
				<h2>{{ about_us.username.get_full_name  }}</h2>
			</strong>
			</div>
		</div>
<br/>

		<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
			<div class="menu_section">
				<h3>General</h3>
				<ul class="nav side-menu">
					<li><a><i class="fa fa-home"></i> Home </a>

					</li>
					<li><a><i class="fa fa-edit"></i> Departments <span class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a href="{% url 'userprofile:Departmentwise_list' 'Biosciences_and_Bioengineering' %}">Biosciences and Bioengineering</a></li>
							<li><a href="{% url 'userprofile:Departmentwise_list' 'Chemical_Engineering' %}">Chemical Engineering</a></li>
							<li><a href="{% url 'userprofile:Departmentwise_list' 'Chemistry' %}">Chemistry</a></li>
							<li><a href="{% url 'userprofile:Departmentwise_list' 'Computer_Science_and_Engineering' %}">Computer Science and Engineering</a></li>
							<li><a href="{% url 'userprofile:Departmentwise_list' 'Civil_Engineering' %}">Civil Engineering</a></li>
							<li><a href="{% url 'userprofile:Departmentwise_list' 'Design' %}">Design</a></li>
							<li><a href="{% url 'userprofile:Departmentwise_list' 'Humanity_and_Social_Sciences' %}">Humanity and Social Sciences</a></li>
							<li><a href="{% url 'userprofile:Departmentwise_list' 'Electronics_and_Electrical_Engineering' %}">Electronics and Electrical Engineering</a></li>
							<li><a href="{% url 'userprofile:Departmentwise_list' 'Mathematics' %}">Mathematics</a></li>
							<li><a href="{% url 'userprofile:Departmentwise_list' 'Mechanical_Engineering' %}">Mechanical Engineering</a></li>
							<li><a href="{% url 'userprofile:Departmentwise_list' 'Physics' %}">Physics</a></li>
						</ul>
					</li>
					<li><a href="{% url 'userprofile:profile_about_us_logout_user' username_name %}"><i class="fa fa-desktop"></i> About </a>
					</li>

					<li><a href="{% url 'userprofile:profile_teaching_logout_user' username_name %}"><i class="fa fa-table"></i> Teaching </a>
					</li>

					<li><a href="{% url 'userprofile:profile_students_logout_user' username_name %}"><i class="fa fa-bar-chart-o"></i> Students </a>
					</li>

					<li><a href="{% url 'userprofile:profile_projects_logout_user' username_name %}"><i class="fa fa-bar-chart-o"></i> Projects </a>
					</li>

					<li><a href="{% url 'userprofile:profile_publications_logout_user' username_name %}"><i class="fa fa-clone"></i> Publications </a>
					</li>

					<li><a href="{% url 'userprofile:profile_recognitions_logout_user' username_name %}"><i class="fa fa-clone"></i> Recognitions</a>
					</li>

					<li><a><i class="fa fa-clone"></i> Personal Page </a>
					</li>
				</ul>
			</div>



		</div>
		<!-- /sidebar menu -->

		<!-- /menu footer buttons -->
		<div class="sidebar-footer hidden-small">
			<a data-toggle="tooltip" data-placement="top" title="Settings">
				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
			</a>
			<a data-toggle="tooltip" data-placement="top" title="FullScreen">
				<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
			</a>
			<a data-toggle="tooltip" data-placement="top" title="Lock">
				<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
			</a>
			<a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
				<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
			</a>
		</div>
		<!-- /menu footer buttons -->
	</div>
</div>

{% endblock %}

{% block content_top_nav %}
<div class="top_nav">
	<div class="nav_menu">
		<nav>
			<div class="nav toggle">
				<a id="menu_toggle"><i class="fa fa-bars"></i></a>
			</div>


	</div>
</div>
{% endblock %}


{% block content %}



{% if pub_pub.count != 0 %}

<h3>Publications</h3>


<div class="container">
  <table class="table table-striped">
    <tbody>
{%  for publications_required_list in Publications_required_list  %}
      {% if publications_required_list.Type == 0 %}
      <tr>

        <td><li><a href="{%url 'userprofile:profile_publications_edit' publications_required_list.username publications_required_list.id %}">{{ publications_required_list.Description }}</li></td>
      </tr>


      {% endif %}
{% endfor %}
</tbody>
</table>
</div>

<hr>
{% endif %}
{% if pub_books.count != 0 %}

<h3>Books</h3>

<div class="container">
  <table class="table table-striped">
    <tbody>
{%  for publications_required_list in Publications_required_list  %}
      {% if publications_required_list.Type == 1 %}
      <tr>

       <td><li><a href="{%url 'userprofile:profile_publications_edit' publications_required_list.username publications_required_list.id %}">{{ publications_required_list.Description }}</li></td>
      </tr>


      {% endif %}
{% endfor %}
</tbody>
</table>
</div>

<hr>
{% endif %}
{% endblock %}
