{% extends "profile_base2.html" %}

{% load bootstrap3 %}


{% block content_side_nav %}

<div class="col-md-3 left_col">
	<div class="left_col scroll-view">
		<div class="navbar nav_title" style="border: 0;">
		</div>

		<div class="profile clearfix">
			<div class="profile clearfix ">
						<div class="profile_pic">
							<img src="{{ about_us.Upload_Profile_Pic.url }}" alt="" class="img-responsive img-circle margin" >
						</div>
			</div>
			<div class="profile_info">
				<strong>

				<h2>{{ about_us.username.get_full_name  }}</h2>
			</strong>
			</div>
		</div>
<br/>


		<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
			<div class="menu_section">
				<h3>General</h3>
				<ul class="nav side-menu">

					<li><a href="{% url 'userprofile:profile_about_us_logout_user' username_name %}"><i class="fa fa-desktop"></i> About </a>
					</li>

					<li><a href="{% url 'userprofile:profile_teaching_logout_user' username_name %}"><i class="fa fa-table"></i> Teaching </a>
					</li>

					<li><a href="{% url 'userprofile:profile_students_logout_user' username_name %}"><i class="fa fa-bar-chart-o"></i> Students </a>
					</li>

					<li><a href="{% url 'userprofile:profile_projects_logout_user' username_name %}"><i class="fa fa-bar-chart-o"></i> Projects </a>
					</li>

					<li><a href="{% url 'userprofile:profile_publications_logout_user' username_name %}"><i class="fa fa-clone"></i> Publications </a>
					</li>

					<li><a href="{% url 'userprofile:profile_recognitions_logout_user' username_name %}"><i class="fa fa-clone"></i> Recognitions</a>
					</li>



{% endblock %}

{% block content_top_nav %}
{% if user.is_authenticated  %}
<div class="top_nav">
	<div class="nav_menu">
		<nav>
			<div class="nav toggle">
				<a id="menu_toggle"><i class="fa fa-bars"></i></a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li class="">
					<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<img src="{{ about_us.Upload_Profile_Pic.url }}" alt="">{{ user.get_full_name  }}
						<span class=" fa fa-angle-down"></span>
					</a>
					<ul class="dropdown-menu dropdown-usermenu pull-right">
						<li><a href="{% url 'test' user.username  %}"> Profile</a></li>
						<li><a href="javascript:;">Help</a></li>
						<li><a href="{% url 'accounts:logout' %}"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
					</ul>
				</li>


			</ul>
		</nav>
	</div>
</div>
{% endif %}

{% endblock %}




{% block content %}


<h3>Courses Offered:</h3><br>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Academic Year</th>
      <th scope="col">Subject</th>
      <th scope="col">Subject_Code</th>
      <th scope="col">Joined_With</th>

    </tr>
  </thead>
  <tbody>

    {% for teaching_list in Teaching_Object_list %}

      <tr>

        <td>{{ teaching_list.year }}</td>
        <td>{% if teaching_list.semester == 0 %}
              Even Semester
          {% else %}
              Odd Semester
          {% endif %}
        </td>
        <td>{{ teaching_list.Subject_code }}</td>
        <td> {% if teaching_list.Partners %}
          {{ teaching_list.Partners }}
          {% endif %}
        </td>
        <td>

       </td>
      </tr>

    {% endfor %}

  </tbody>
</table>

<hr>



{% endblock %}
