{% extends "profile_base.html" %}

{% block content %}


<h3>Recognitions</h3>


<div class="container">
<table class="table table-striped">
<tbody>
{% for recognitions_required_list in Recognitions_required_list %}
      <tr>
        <td><li>{{ recognitions_required_list.Description }}</li></td>
        <td align="right">

          <a href="{% url 'userprofile:profile_recognitions_edit' recognitions_required_list.username recognitions_required_list.id  %}" style="color:red">
         <button type="button" class="btn btn-success"    >Edit</button></a>

          <a href="{% url 'userprofile:profile_recognitions_delete' recognitions_required_list.username recognitions_required_list.id  %}" style="color:red">
         <button type="button" class="btn btn-warning"  >Delete</button></a>

       </td>
      </tr>

{% endfor %}
</tbody>
</table>
</div>


<hr>
<a href="{% url 'userprofile:profile_recognitions_create' %}" class="btn btn-default btn-sm">Add Recognitions</a>

{% endblock %}
