{% extends "profile_base2.html" %}



{% block content_side_nav %}

<div class="col-md-3 left_col">
	<div class="left_col scroll-view">
		<div class="navbar nav_title" style="border: 0;">
		</div>

		<div class="profile clearfix">
			<div class="profile clearfix ">
						<div class="profile_pic">
							<img src="{{ about_us.Upload_Profile_Pic.url }}" alt="" class="img-responsive img-circle margin" >
						</div>
			</div>
			<div class="profile_info">
				<strong>

				<h2>{{ about_us.username.get_full_name  }}</h2>
			</strong>
			</div>
		</div>
<br/>


		<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
			<div class="menu_section">
				<h3>General</h3>
				<ul class="nav side-menu">


					<li><a href="{% url 'userprofile:profile_about_us_logout_user' username_name %}"><i class="fa fa-desktop"></i> About </a>
					</li>

					<li><a href="{% url 'userprofile:profile_teaching_logout_user' username_name %}"><i class="fa fa-table"></i> Teaching </a>
					</li>

					<li><a href="{% url 'userprofile:profile_students_logout_user' username_name %}"><i class="fa fa-bar-chart-o"></i> Students </a>
					</li>

					<li><a href="{% url 'userprofile:profile_projects_logout_user' username_name %}"><i class="fa fa-bar-chart-o"></i> Projects </a>
					</li>

					<li><a href="{% url 'userprofile:profile_publications_logout_user' username_name %}"><i class="fa fa-clone"></i> Publications </a>
					</li>

					<li><a href="{% url 'userprofile:profile_recognitions_logout_user' username_name %}"><i class="fa fa-clone"></i> Recognitions</a>
					</li>
{% endblock %}




{% block content %}
<!-- page content -->
			 <div role="main">
				 <div class="">
					 <div class="page-title">
						 <div class="title_left">
							 <h3>User Profile</h3>
						 </div>

						 <div class="title_right">
							 <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
								 <div class="input-group">

								 </div>
							 </div>
						 </div>
					 </div>

					 <div class="clearfix"></div>

					 <div class="row">
						 <div class="col-md-12 col-sm-12 col-xs-12">
							 <div class="x_panel">
								 <div class="x_title">

									 <div class="clearfix"></div>
								 </div>
								 <div class="x_content">
									 <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
										 <div class="profile_img">
											 <div id="crop-avatar">
												 <!-- Current avatar -->
												 <!-- <img class="img-responsive avatar-view" src="images/picture.jpg" alt="Avatar" title="Change the avatar"> -->
												 <img src="{{ about_us.Upload_Profile_Pic.url }}" alt={{ about_us.username.get_full_name }} height="150" width="150">
											 </div>
										 </div>

										<h3> <label>{{ about_us.username.get_full_name }}</label></h3>

										 <ul class="list-unstyled user_data">

											 <li><p>{{ about_us.Departmental_post }}, Department of {{ about_us.Department }}<br />IIT Guwahati, Guwahati - 781039<br />Assam, India</p>
												 <hr>
											 </li>
											 <!--added here  -->
											 <li>
												 <i class="fa fa-briefcase user-profile-icon"></i><label>Office</label>
												 																										<p>Room No.: {{ about_us.Room_no }}<br /><hr>Phone: {{about_us.phone}} <br /><hr>Email: {{	about_us.username }}@iitg.ernet.in</p>
											 <hr></li>


										 </ul>



									 </div>
									 <div class="col-md-8 col-sm-8 col-xs-12">




												 <div class="x_panel">
													 <div class="x_title">
														 <h4>Research Interest:<h4>
														 <div class="clearfix"></div>
													 </div>

													 <div class="x_content">
														 <div class="dashboard-widget-content">
															 <!-- <div class="col-md-4 hidden-small">



															 </div> -->

													 <div class="tim-typo">
																 <span class="tim-note"></span>
																 <blockquote>
																		 <p>{{ about_us.Research_interest }}</p>
																 </blockquote>
														 </div>


														 </div>


													 </div>
												 </div>



													 </div>
									 <div class="col-md-8 col-sm-8 col-xs-12">




												 <div class="x_panel">
													 <div class="x_title">
														 <h4>primary Research group:<h4>
														 <div class="clearfix"></div>
													 </div>
													 <div class="x_content">
														 <div class="dashboard-widget-content">
															 <!-- <div class="col-md-4 hidden-small">



															 </div> -->

													 <div class="tim-typo">

																 <blockquote>
																		 <p>{{ about_us.primary_Research_group }}</p>
																 </blockquote>
														 </div>


														 </div>


													 </div>
												 </div>



													 </div>


								 </div>
							 </div>
						 </div>
					 </div>
				 </div>
			 </div>
			 <!-- /page content -->


{% endblock %}

{% block content_top_nav %}
{% if user.is_authenticated  %}
<div class="top_nav">
	<div class="nav_menu">
		<nav>
			<div class="nav toggle">
				<a id="menu_toggle"><i class="fa fa-bars"></i></a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li class="">
					<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<img src="{{ about_us.Upload_Profile_Pic.url }}" alt="">{{ user.get_full_name  }}
						<span class=" fa fa-angle-down"></span>
					</a>
					<ul class="dropdown-menu dropdown-usermenu pull-right">
						<li><a href="{% url 'test' user.username  %}"> Profile</a></li>
						<li><a href="javascript:;">Help</a></li>
						<li><a href="{% url 'accounts:logout' %}"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
					</ul>
				</li>


			</ul>
		</nav>
	</div>
</div>
{% endif %}

{% endblock %}
