{% extends "profile_base.html" %}

{% block content %}



<h3>Publications</h3>


<div class="container">
  <table class="table table-striped">
    <tbody>
{%  for publications_required_list in Publications_required_list  %}
      {% if publications_required_list.Type == 0 %}
      <tr>

        <td><li><a href="{%url 'userprofile:profile_publications_edit' publications_required_list.username publications_required_list.id %}">{{ publications_required_list.Description }}</li></td>
      </tr>


      {% endif %}
{% endfor %}
</tbody>
</table>
</div>

<hr>

<h3>Books</h3>

<div class="container">
  <table class="table table-striped">
    <tbody>
{%  for publications_required_list in Publications_required_list  %}
      {% if publications_required_list.Type == 1 %}
      <tr>

       <td><li><a href="{%url 'userprofile:profile_publications_edit' publications_required_list.username publications_required_list.id %}">{{ publications_required_list.Description }}</li></td>
      </tr>


      {% endif %}
{% endfor %}
</tbody>
</table>
</div>

<hr>
<a href="{% url 'userprofile:profile_publications_create' %}" class="btn btn-default btn-sm">Add Publications / Books</a>

{% endblock %}
