{% extends "profile_base2.html" %}

{% block content_side_nav %}

<div class="col-md-3 left_col">
	<div class="left_col scroll-view">
		<div class="navbar nav_title" style="border: 0;">
		</div>

		<div class="clearfix"></div>


		<br />

		<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
			<div class="menu_section">
				<h3>General</h3>
				<ul class="nav side-menu">
					<li><a><i class="fa fa-home"></i> Home </a>

					</li>
					<li><a><i class="fa fa-edit"></i> Departments <span class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a href="{% url 'userprofile:Departmentwise_list' 'CSE' %}">C.S.E</a></li>
							<li><a href="form_advanced.html">C.E.</a></li>
							<li><a href="form_validation.html">Electronics & Electrical Engg.</a></li>
							<li><a href="form_wizards.html">Design</a></li>
							<li><a href="form_upload.html">Chemical Engineering</a></li>
							<li><a href="form_buttons.html">Chemistry</a></li>
						</ul>
					</li>
					<li><a href="{% url 'userprofile:profile_about_us_logout_user' username_name %}"><i class="fa fa-desktop"></i> About </a>
					</li>

					<li><a href="{% url 'userprofile:profile_teaching_logout_user' username_name %}"><i class="fa fa-table"></i> Teaching </a>
					</li>

					<li><a href="{% url 'userprofile:profile_students_logout_user' username_name %}"><i class="fa fa-bar-chart-o"></i> Students </a>
					</li>

					<li><a href="{% url 'userprofile:profile_projects_logout_user' username_name %}"><i class="fa fa-bar-chart-o"></i> Projects </a>
					</li>

					<li><a href="{% url 'userprofile:profile_publications_logout_user' username_name %}"><i class="fa fa-clone"></i> Publications </a>
					</li>

					<li><a href="{% url 'userprofile:profile_recognitions_logout_user' username_name %}"><i class="fa fa-clone"></i> Recognitions</a>
					</li>

					<li><a><i class="fa fa-clone"></i> Personal Page </a>
					</li>
				</ul>
			</div>



		</div>
		<!-- /sidebar menu -->

		<!-- /menu footer buttons -->
		<div class="sidebar-footer hidden-small">
			<a data-toggle="tooltip" data-placement="top" title="Settings">
				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
			</a>
			<a data-toggle="tooltip" data-placement="top" title="FullScreen">
				<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
			</a>
			<a data-toggle="tooltip" data-placement="top" title="Lock">
				<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
			</a>
			<a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
				<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
			</a>
		</div>
		<!-- /menu footer buttons -->
	</div>
</div>

{% endblock %}

{% block content_top_nav %}
<div class="top_nav">
	<div class="nav_menu">
		<nav>
			<div class="nav toggle">
				<a id="menu_toggle"><i class="fa fa-bars"></i></a>
			</div>

			
	</div>
</div>
{% endblock %}


{% block content %}





<h3>Publications</h3>


<div class="container">
  <table class="table table-striped">
    <tbody>
{%  for publications_required_list in Publications_required_list  %}
      {% if publications_required_list.Type == 0 %}
      <tr>

        <td><li><a href="{%url 'userprofile:profile_publications_edit' publications_required_list.username publications_required_list.id %}">{{ publications_required_list.Description }}</li></td>
      </tr>


      {% endif %}
{% endfor %}
</tbody>
</table>
</div>

<hr>

<h3>Books</h3>

<div class="container">
  <table class="table table-striped">
    <tbody>
{%  for publications_required_list in Publications_required_list  %}
      {% if publications_required_list.Type == 1 %}
      <tr>

       <td><li><a href="{%url 'userprofile:profile_publications_edit' publications_required_list.username publications_required_list.id %}">{{ publications_required_list.Description }}</li></td>
      </tr>


      {% endif %}
{% endfor %}
</tbody>
</table>
</div>

<hr>

{% endblock %}
