{% extends "profile_base.html" %}

{% load bootstrap3 %}




{% block content %}
<style media="screen">
#act{
  float:right;
  align:right;
}

</style>

 <a href="{%url 'userprofile:profile_students_create' %}" class="btn btn-default btn-sm">Add Students</a><br>


 <table class="table table-striped">
   <h3>M.Tech. Students Ongoing</h3>
   <thead>
     <tr>
       <th scope="col">Student Name</th>
       <th  id="act" scope="col">Action</th>

     </tr>
   </thead>
   <tbody>
     {% for std in Students_required_list %}
     <tr>
           {% if std.Student_category == 0 %}
             <td><a href="{%url 'userprofile:profile_students_edit' std.username std.id %}">Scholar Name : {{ std.Student_name }}<br>
             </a>

         </td>


         <td align="right">

           <a href="{%url 'userprofile:profile_students_edit' std.username std.id %} " style="color:red">
          <button type="button" class="btn btn-success">Edit</button></a>

           <a href="{%url 'userprofile:profile_students_delete' std.username std.id %} " style="color:red">
          <button type="button" class="btn btn-warning">Delete</button></a>

        </td>
           {% endif %}
      </tr>
       {% endfor %}


   </tbody>
 </table>


<hr>



<table class="table table-striped">
<h3>M.Tech. Students Completed</h3>
  <thead>
    <tr>
      <th scope="col">Student Name</th>
      <th scope="col">Thesis Title</th>
      <th scope="col">Supervisors</th>
      <th  id="act" scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for std in Students_required_list %}
    <tr>
          {% if std.Student_category == 1 %}
            <td><a href="{%url 'userprofile:profile_students_edit' std.username std.id %}">Scholar Name : {{ std.Student_name }}<br>
            </a>

        </td>
        <td>
             {{ std.Thesis_title }}
        </td>

        <td>
            {{ std.Supervisors }}
        </td>
        <td align="right">

          <a href="{%url 'userprofile:profile_students_edit' std.username std.id %} " style="color:red">
         <button type="button" class="btn btn-success">Edit</button></a>

          <a href="{%url 'userprofile:profile_students_delete' std.username std.id %} " style="color:red">
         <button type="button" class="btn btn-warning">Delete</button></a>

       </td>
          {% endif %}
     </tr>
      {% endfor %}


  </tbody>
</table>


<hr>



<table class="table table-striped">
<h3>PH.D. Students Ongoing</h3>
  <thead>
    <tr>
      <th scope="col">Student Name</th>
      <th  id="act" scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for std in Students_required_list %}
    <tr>
          {% if std.Student_category == 2 %}
            <td><a href="{%url 'userprofile:profile_students_edit' std.username std.id %}">Scholar Name : {{ std.Student_name }}<br>
            </a>

        </td>
        
        <td align="right">

          <a href="{%url 'userprofile:profile_students_edit' std.username std.id %} " style="color:red">
         <button type="button" class="btn btn-success">Edit</button></a>

          <a href="{%url 'userprofile:profile_students_delete' std.username std.id %} " style="color:red">
         <button type="button" class="btn btn-warning">Delete</button></a>

       </td>
          {% endif %}
     </tr>
      {% endfor %}


  </tbody>
</table>

<hr>
<table class="table table-striped">
<h3>PH.D. Students Completed</h3>
  <thead>
    <tr>
      <th scope="col">Student Name</th>
      <th scope="col">Thesis Title</th>
      <th scope="col">Supervisors</th>
      <th  id="act" scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for std in Students_required_list %}
    <tr>
          {% if std.Student_category == 3 %}
            <td><a href="{%url 'userprofile:profile_students_edit' std.username std.id %}">Scholar Name : {{ std.Student_name }}<br>
            </a>

        </td>
        <td>
             {{ std.Thesis_title }}
        </td>

        <td>
            {{ std.Supervisors }}
        </td>
        <td align="right">

          <a href="{%url 'userprofile:profile_students_edit' std.username std.id %} " style="color:red">
         <button  type="button" class="btn btn-success">Edit</button></a>

          <a href="{%url 'userprofile:profile_students_delete' std.username std.id %} " style="color:red">
         <button  type="button" class="btn btn-warning">Delete</button></a>

       </td>
          {% endif %}
     </tr>
      {% endfor %}


  </tbody>
</table>


<hr>

{% endblock %}
