{% extends "profile_base.html" %}

{% load bootstrap3 %}

{% block content_background %}
<img src="https://www.w3schools.com/css/img_fjords.jpg" alt="Mountains" width="100%" height="100%" class="xyz">

{% endblock %}

{% block content %}
<div class="modal-dialog " >
    <div class="modal-content">
        <form id="item_update_form" method='post' class="form" role="form">
          {% csrf_token %}
              <div class="modal-header">

                   <h4 class="modal-title" id="myModalLabel">Projects</h4>
              </div>
              <div class="modal-body">
                  {% bootstrap_form form %}
              </div>
              <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="save" style="margin-bottom: 5px;" />
              </div>
        </form>

    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

{% endblock %}
